<div id="page-heading">
	<ol class="breadcrumb">
		<li><%=link_to "Category",rcadmin_dimension_categories_path%></li>
		<li class="active">Edit Dimension Category</li>
	</ol>

	<h1>Edit Dimension Category</h1>
</div>

<%= render 'form' %>

<%#= link_to 'Show', @rcadmin_dimension_category %> |
<%#= link_to 'Back', rcadmin_dimension_categories_path %>
