<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rcadmin_dimension_category.name %>
</p>

<%= link_to 'Edit', edit_rcadmin_dimension_category_path(@rcadmin_dimension_category) %> |
<%= link_to 'Back', rcadmin_dimension_categories_path %>
