<div id="page-heading">
	<ol class="breadcrumb">
		<li><%=link_to "Sub Category",rcadmin_subcategories_path%></li>
		<li class="active">Add Sub Category</li>
	</ol>

	<h1>Add Sub Category</h1>
</div>

<%= render 'form' %>

