<div id="page-heading">
	<ol class="breadcrumb">
		<li><%=link_to "Product Type",rcadmin_subcategories_path%></li>
		<li class="active">Add Product Type</li>
	</ol>

	<h1>Add Product Type</h1>
</div>

<%= render 'form' %>

