<div id="page-heading">
	<ol class="breadcrumb">
		<li><%=link_to "Category",rcadmin_categories_path%></li>
		<li class="active">Add Email Template</li>
	</ol>

	<h1>Add Email Template</h1>
</div>

<%= render 'form' %>

