<div class="container-fluid">
  <div class="row-fluid">
	<div class="span3">
	  <!--Sidebar content-->
	</div>
	<div class="span9">
	  <!--Body content-->
	  <h3>Mycart</h3>

		<% if @mycart_products.size <= 0 %>
			<h3>You have empty cart</h3>
		<%else%>
		<table class="table">
		  <thead>
			<tr>
			  <th>Title</th>
			  <th>Price</th>
			  <!--th>Descriptions</th-->
			  <th>Enter Qty.</th>
			</tr>
		  </thead>
		  <tbody>		   
			<% @mycart_products.each_with_index do |my_cart,index|%>
			<%if !my_cart.nil?%>
			<tr>
				<td><%=my_cart[:name]%></td>
				<td><%=my_cart[:price]%></td>
				<td><%=my_cart[:quantity]%></td>
				<!--td><a href="/clearcart/<%#=my_cart[:name]%>"><i  class="fa fa-trash-o fa-lg  fa-border"></i></td-->
			</tr>

			<%end%>
			<%end%>
		  </tbody>
		</table>
		<%end%>
	</div>
  </div>
</div>

