<div class="container-fluid">
  <div class="row-fluid">
	<div class="span3">
	  <!--Sidebar content-->
	  <h3>Search</h3>
	  <form class="">
		<div class="controls">
		  <input type="text" id="inputEmail" placeholder="Enter Dimensions">
		</div>	
		<div class="controls">
			<select>
			  <option value="">Select Categories</option>
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			</select>				
		</div>
		<div class="controls">
			<button type="submit" class="btn btn-primary">Search</button>
		</div>
		</form>		  
	</div>
	<div class="span9">
	  <!--Body content-->
	  <h3>Product Listings</h3>
		<table class="table">
		  <thead>
			<tr>
			  <th>Title</th>
			  <th>Price</th>
			  <th>Descriptions</th>
			  <th>Enter Qty.</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <td>...</td>
			  <td>...</td>
			  <td>...</td>
			  <td>...</td>
			  <td><a style="text-decoration:none;" href=""><i class="fa fa-shopping-cart fa-lg  fa-border"></i></a></td>
			</tr>
			<tr>
			  <td>...</td>
			  <td>...</td>
			  <td>...</td>
			  <td>...</td>
			  <td><a style="text-decoration:none;" href=""><i class="fa fa-shopping-cart fa-lg fa-border"></i></a></td>
			</tr>
			<tr>
			  <td>...</td>
			  <td>...</td>
			  <td>...</td>
			  <td>...</td>
			  <td><a style="text-decoration:none;" href=""><i class="fa fa-shopping-cart fa-lg fa-border"></i></a></td>
			</tr>
		  </tbody>
		</table>

	</div>
  </div>
</div>

