<!DOCTYPE html>
<html>


  <head>
    <meta charset="utf-8">
    <title>Cab Draw</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Files -->
    <link href="<%= stylesheet_path('css/reset') %>" rel="stylesheet" type="text/css" />
    <link href="<%= stylesheet_path('css/style') %>" rel="stylesheet" type="text/css" />
    <link href="<%= stylesheet_path('css/responsive') %>" rel="stylesheet" type="text/css" />

  </head>

  <body>

    <div class="table">
      <ul class="head">
        <li style="width: 30%;">
          <div class="logo"><img src="<%= image_path("img/logo.png") %>"></div>
          <p class="f-right">JOB # ____________________</p>
          <div class="row">
            <p>CUSTOMER  _________________</p>
            <p>JOB NAME  _________________</p>
          </div>
          <div class="row">
            <p>JOB ADDRESS  ___________________________________________</p>
          </div>
          <div class="row">
            <p>DATE  __ / __ / __</p>
            <p>DEL. DATE  __ / __ / __</p>
            <p>PHONE  _____________</p>
          </div>
        </li>
        <li class="v-t">C A B I N E T</li>
        <li style="width: 27%;">
          <div class="row">
            <p>WOOD  _________</p>
            <p>DR. HD  ________</p>
            <p>INTERIOR  _________</p>
          </div>
          <div class="row">
            <p>UP. DE  ________</p>
            <p>DWR. HD  _______</p>
            <p>DWR BOX  _________</p>
          </div>
          <div class="row">
            <p>BS. DR  ________</p>
            <p>HNGE  _________</p>
            <p>DWR SLIDE  ________</p>
          </div>
          <div class="row">
            <p>DR. LIP  ________</p>
            <p>T. RAIL  ________</p>
            <p>CONSTR.  _________</p>
          </div>
          <div class="row">
            <p>DRW.  ___________</p>
            <p>FINISH  ___________________________</p>
          </div>
        </li>
        <li class="v-t">C O U N T E R</li>
        <li style="width: 18%;">
          <div class="row">
            <p>BRAND  ______</p>
            <p>LAMINATED  </p><span class="four"></span>
          </div>
          <div class="row">
            <p>COLOR  ______</p>
            <p>SOLID SURFACE  </p><span class="four"></span>
          </div>
          <div class="row">
            <p>PATTERN #  ______</p>
            <p>OTHER  _________</p>
          </div>
          <div class="row">
            <p>EDGE TYPE _______________________</p>
          </div>
          <div class="row">
            <p>SINK  _____________________________</p>
          </div>
        </li>
        <li style="width: 13.969%;">
          <header>
            Page___ of ___
          </header>
          <p class="final">SOECIAL NOTE:</p>
        </li>
      </ul>
      <h1>EXPRESS / SERVICE</h1>
      <span>DO NOT PUT WOOD AND LAMINATE WORK ORDERS ON SAME SHEET</span>
    </div>

  </body>
</html>

