<!DOCTYPE html>
<html>


  <head>
    <meta charset="utf-8">
    <title>Cab Draw</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag :grid %>

  </head>

  <body class="bl">
    <div class="container br">
      <header>
        <a href="#" class="logo-color"><img src="<%= image_path("img/logo-color.png") %>"></a>
        <div class="pull-right header-text"><p><span>CAD PERSON</span>Alexandr Tyurin</p></div>
      </header>
      <section id="contant">
        <h4>Turn in Check List</h4>
        <div class="checkbox">
          <div class="sm-p"><p><span>CONTRACTOR:</span> Alex</p></div>
          <div class="sm-p pull-right"><p><span>DATE:</span>12.02.2014</p></div>
          <div class="sm-p"><p><span>CUSTOMER:</span> Alexandr</p></div>
          <div class="sm-p pull-right"><p><span>SALESPERSON:</span> Alexandr</p></div>
          <span class="sm">Sales Chk/ CAD </span>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Turn in checklist completed</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Job jacket complete</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Title information (name, address, phone number, etc…) on all drawings</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>All room selection blocks completed (must include hardware). </span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Late ordered hardware must be added by a change order </span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Appliance specifications (give extra copy to CAD room with Job name & number) </span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Trim list “sticker” filled out completely (specify wood, finish, and quantity)</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>All price pages filled out completely (name, address, phone, builder)</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Can the cabinet be delivered…will it go in the room, will it stand up…specify loose toekick</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Special order forms included</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Custom Quotes included </span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Delivery date requested on all drawings</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Ceiling/Soffit height on top view/plan view drawings</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Stain match reference numbers</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Rail sizes listed wherever molding is used (Draw cross view)</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Valance details (rise, crown reveal)</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Cabinet sink centers, heights, depths, and rail sizes (note special depth drawers)</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>On wall and tall cabinetry specify top and roof type (finished tops/flush finished tops etc…)</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Separate shop drawings for complex cabinets (no flutes or moldings just rail sizes)     </span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Wood top should be drawn with sizes, edge detail included on the same page</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Open shelf area on cabinets should have I.D. measurements noted</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Drawing for appliance panels with Make and Model number and sizes (include specs)</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>All Corbels, onlay’s, special materials should be specified on drawings for pricing and ordering</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Mullion doors must have lite quantities listed, drawn (4 lite, etc.) manufacturing and pricing</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Angles, clips, cut backs, radius’s, and chases drawn (front dim, back dim, angle, depth)</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Wood hoods marked for customer supplied inserts (with appliance make and model #)</span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Mantle drawings to specify crown detail and reveals </span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Customer Sign Off on selections and drawings (special instructions noted for customer) </span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Counter top: Splashes attached or loose </span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Counter top: Sink sizes, centers and dimensions </span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Counter top: Special order laminate, premium colors and finishes noted on counter top </span>
          </div>
          <div class="row">
            <input type="checkbox">
            <input type="text" value="OK">
            <span>Counter top: Sinks, edges (type of bevel, etc..), and colors on top drawings</span>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
