<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<div id="tabs">
  <ul class="tabs">
    <li class=""><a href="#tabs-1">Create Customer</a></li>
    <li ><a  href="#tabs-2">Select Category</a></li>
    <li><a href="#tabs-3">Product List</a></li>
  </ul>
  <div id="tabs-1">
	<%#= render 'customer_form' %>
  </div>
  <div id="tabs-2">
    <%= render 'category' %>
  </div>
  <div id="tabs-3">
    <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
    <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
  </div>
</div>
<script>
$(document).ready(function() {
$( "#tabs" ).tabs({ active: 1 });
	$('#ui-id-1').click(function(){
		window.location = "/rcadmin/createquote";//hardcoded link but you could pull this from the tab
	})
	$('#ui-id-2').click(function(){
		window.location = "/rcadmin/quote/category";//hardcoded link but you could pull this from the tab
	})
	$('#ui-id-3').click(function(){
		window.location = "/rcadmin/quote/product";//hardcoded link but you could pull this from the tab
	})	
	
})
</script>
