<div id="page-heading">
  <ol class="breadcrumb">
      <li><%=link_to "Contractor",rcadmin_contractors_path%></li>
      <li class="active">Edit Contractor</li>
  </ol>
  <h1>Edit Contractor</h1>
</div>
<%= render 'form' %>
