<div id="page-heading">
  <ol class="breadcrumb">
      <li><%=link_to "Contractor",rcadmin_contractors_path%></li>
      <li class="active">New Contractor</li>
  </ol>
  <h1>New Contractor</h1>
</div>
<%= render 'form' %>

