<div id="page-heading">
	<ol class="breadcrumb">
		<li><%=link_to "Cabinet Type",rcadmin_cabinet_types_path%></li>
		<li class="active">Add Cabinet Type</li>
	</ol>

	<h1>Add Cabinet Type</h1>
</div>

<%= render 'form' %>



