<div id="page-heading">
	<ol class="breadcrumb">
		<li><%=link_to "Dimension",rcadmin_faqs_path%></li>
		<li class="active">Edit Faq</li>
	</ol>

	<h1>Edit Faq</h1>
</div>
<%= render 'form' %>

<%#= link_to 'Show', @rcadmin_faq %> |
<%#= link_to 'Back', rcadmin_faqs_path %>
