<div id="page-heading">
	<ol class="breadcrumb">
		<li><%=link_to "Category",rcadmin_categories_path%></li>
		<li class="active">Edit Category</li>
	</ol>

	<h1>Edit Category</h1>
</div>

<%= render 'form' %>

<%#= link_to 'Show', @rcadmin_category %> |
<%#= link_to 'Back', rcadmin_categories_path %>
