<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rcadmin_category.name %>
</p>

<%= link_to 'Edit', edit_rcadmin_category_path(@rcadmin_category) %> |
<%= link_to 'Back', rcadmin_categories_path %>
