<div id="page-heading">
	<ol class="breadcrumb">
		<li><%=link_to "Static Page",rcadmin_static_pages_path%></li>
		<li class="active">Edit Static Page</li>
	</ol>

	<h1>Edit Static Page</h1>
</div>

<%= render 'form' %>

<%#= link_to 'Show', @rcadmin_static_page %> |
<%#= link_to 'Back', rcadmin_static_pages_path %>
