<div id="page-heading">
	<ol class="breadcrumb">
		<li><%=link_to "Static Page",rcadmin_static_pages_path%></li>
		<li class="active">Add Static Page</li>
	</ol>

	<h1>Add Static Page</h1>
</div>

<%= render 'form' %>

<%#= link_to 'Back', rcadmin_static_pages_path %>
