  /* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126  License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* misc */

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

/* global (not for layout, content only) */

.clear         { clear:both; }

.float-left    { float:left; }
.float-right   { float:right; }

.text-left     { text-align:left; }
.text-right    { text-align:right; }
.text-center   { text-align:center; }
.text-justify  { text-align:justify; }

.bold          { font-weight:bold; }
.italic        { font-style:italic; }
.underline     { border-bottom:1px solid; }
.highlight     { background:#ffc; }

.wrap          { width:960px;margin:0 auto; }

.img-left      { float:left;margin:4px 10px 4px 0; }
.img-right     { float:right;margin:4px 0 4px 10px; }

.nopadding     { padding:0; }
.noindent      { margin-left:0;padding-left:0; }
.nobullet      { list-style:none;list-style-image:none; }


img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}


.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/*

Theme Name: 
Theme URI: 
Description:
Version:
Author: 

 */

/* global mixins */

.clip {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  -o-background-clip: padding;
  background-clip: padding-box;
}

/* handy shortcuts */

.clear {
  /* for use on: after */
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* global color variables */

/* global layout */

body {
  font-size: 14px;
  margin: 0px;
  text-align: center;
  background: #ddd;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  padding: 40px 0;
  line-height: 1.5em;
}

a {
  color: #333;
  text-decoration: underline;
}

strong { font-weight: bold }

em { font-style: italic }

h1 {
  font-size: 28px;
  font-weight: bold;
  padding: 20px 0 0px;
}

h2, h3, h4, h5, h6, .title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid #dddddd;
}

#invoice {
  position: relative;
  padding: 18px;
  max-width: 840px;
  margin: auto;
  background: #f5f5f5;
  border: 10px solid #fff;
  -webkit-box-shadow: 0 0 1px #888888;
  -moz-box-shadow: 0 0 1px #888888;
  -o-box-shadow: 0 0 1px #888888;
  box-shadow: 0 0 1px #888888;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#invoice.unpaid:before, #invoice.paid:before {
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  height: 10px;
  background: red;
  background: rgba(187, 0, 0, 0.8);
  content: "";
}

#invoice.paid:before {
  background: green;
  background: rgba(122, 185, 0, 0.7);
}

.this-is {
  padding: 8px 0;
  font-size: 16px;
  font-weight: bold;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

#header { padding-bottom: 10px }

.invoice-intro p {
  font-size: 12px;
  font-style: italic;
  line-height: 1.5em;
  padding-bottom: 20px;
}

.invoice-meta {
  position: relative;
  overflow: hidden;
  text-align: right;
  line-height: 1.5em;
}

.invoice-meta dt {
  float: left;
  width: 46%;
  clear: both;
  font-weight: bold;
}

.invoice-meta dd {
  width: 46%;
  float: right;
  text-align: left;
}

#parties {
  position: relative;
  overflow: hidden;
}

.invoice-to, .invoice-from, .invoice-status {
  text-align: left;
  padding-bottom: 10px;
}

.unpaid .invoice-status strong, .paid .invoice-status strong {
  font-weight: bold;
  color: #fff;
  display: block;
  padding: 8px;
  background: red;
  background: rgba(187, 0, 0, 0.8);
}

.paid .invoice-status strong {
  background: green;
  background: rgba(122, 185, 0, 0.7);
}

.unpaid .invoice-pay ul {
  padding: 12px;
  border-right: 10px solid  red;
  border-right: 10px solid rgba(187, 0, 0, 0.8);
}

.gcheckout{
  float: right;
  height: 32px;
  width: 117px;
  text-indent: -9999em;
}

.acheckout{
  float: right;
  height: 38px;
  width: 173px;
  text-indent: -9999em;
}

.invoice-items, .invoice-totals {
  text-align: left;
  padding-bottom: 10px;
}

.invoice-items table, .invoice-totals table {
  width: 100%;
  font-size: 12px;
}

.invoice-items caption, .invoice-totals caption {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid #dddddd;
  text-align: left;
}

.invoice-items thead th, .invoice-totals thead th {
  font-weight: bold;
  padding: 6px 0;
  background: #e5e5e5;
}

.invoice-items thead tc, .invoice-totals thead tc { text-align: center }

.invoice-items thead th:first-of-type, .invoice-totals thead th:first-of-type { padding-left: 8px }

.invoice-items thead th:last-of-type, .invoice-totals thead th:last-of-type {
  text-align: right;
  padding-right: 8px;
}

.invoice-items tbody tr th, .invoice-totals tbody tr th { padding-left: 8px }

.invoice-items tbody tr td:last-of-type, .invoice-totals tbody tr td:last-of-type {
  text-align: right;
  padding-right: 8px;
}

.invoice-items tbody tr:nth-of-type(even) th, .invoice-totals tbody tr:nth-of-type(even) th, .invoice-items tbody tr:nth-of-type(even) td, .invoice-totals tbody tr:nth-of-type(even) td { background: #eee }

.invoice-items tbody th, .invoice-totals tbody th, .invoice-items tbody td, .invoice-totals tbody td {
  padding-top: 0px;
  padding-bottom: 0px;
  background: #fff;
}

.invoice-items tbody td, .invoice-totals tbody td { text-align: center }

.invoice-items tfoot td, .invoice-totals tfoot td {
  text-align: right;
  font-size: 11px;
  font-weight: bold;
  background: #e5e5e5;
  padding: 6px 8px;
}

.invoice-pay { padding-top: 30px }

.invoice-pay li {
  overflow: hidden;
  padding-top: 12px;
}

.invoice-pay li:nth-of-type(even) { padding-top: 18px }

.paid .invoice-pay ul li { display: none }

.paid .invoice-pay ul:after {
  display: block;
  font-weight: bold;
  color: #fff;
  padding: 8px;
  background: green;
  background: rgba(122, 185, 0, 0.7);
  content: "Paid in Full";
  text-align: right;
}

.invoice-notes {
  text-align: left;
  padding-bottom: 30px;
}

.invoice-notes p, .invoice-notes ul, .invoice-notes ol, .invoice-notes dl { padding-bottom: 1em }

.invoice-notes ul li { list-style: inside disc }

.invoice-notes ol li { list-style: inside decimal }

#footer {
  border-top: 1px solid #dddddd;
  font-size: 11px;
  font-weight: bold;
}

/* some margin for middling sceens */

@media only screen and (min-width: 420px) and (max-width: 869px) { 
  #invoice { margin: 0 20px }
}

/* layout splits at 600 css pixels */

  h1 { padding: 10px 0 }

  #header {
overflow: hidden;
padding-top: 10px;
  }

  .invoice-intro {
float: left;
width: 50%;
text-align: left;
  }

  .invoice-intro p { text-align: left }

  .invoice-meta {
float: right;
width: 40%;
  }

  .invoice-meta dd { text-align: right }

  .invoice-to, .invoice-from, .invoice-status {
float: left;
width: 50%;
  }

  .invoice-status { margin-right: 0 }

  #footer {
padding-top: 18px;
font-size: 12px;
  }
