<div id="page-heading">
	<ol class="breadcrumb">
		<li><%=link_to "product",rcadmin_products_path%></li>
		<li class="active">Edit Product</li>
	</ol>

	<h1>Edit Product</h1>
</div>

<%= render 'form' %>

<%#= link_to 'Show', @rcadmin_product %> |
<%#= link_to 'Back', rcadmin_products_path %>
