<div id="page-heading">
	<ol class="breadcrumb">
		<li><%=link_to "product",rcadmin_products_path%></li>
		<li class="active">Add Product</li>
	</ol>

	<h1>Add Product</h1>
</div>

<%= render 'form' %>

<%#= link_to 'Back', rcadmin_products_path %>
