<div id="page-heading">
	<ol class="breadcrumb">
		<li><%=link_to "Cabinet Type",rcadmin_countertop_designs_path%></li>
		<li class="active">Edit Countertop Design</li>
	</ol>

	<h1>Edit Countertop Design</h1>
</div>

<%= render 'form' %>
