<div id="page-heading">
	<ol class="breadcrumb">
		<li><%=link_to "Customer",rcadmin_customers_path%></li>
		<li class="active">New Customer</li>
	</ol>

	<h1>New Customer</h1>
</div>
<%= render 'form' %>

