<div id="page-heading">
	<ol class="breadcrumb">
		<li><%=link_to "Faq Category",rcadmin_faq_categories_path%></li>
		<li class="active">Edit Faq Category</li>
	</ol>

	<h1>Edit Faq Category</h1>
</div>
<%= render 'form' %>

<%##= link_to 'Show', @rcadmin_faq_category %> |
<%#= link_to 'Back', rcadmin_faq_categories_path %>
