<div id="page-heading">
	<ol class="breadcrumb">
		<li><%=link_to "Faq Category",rcadmin_faq_categories_path%></li>
		<li class="active">New Faq Category</li>
	</ol>

	<h1>Add Faq Category</h1>
</div>

<%= render 'form' %>

<%#= link_to 'Back', rcadmin_faq_categories_path %>
