<div id="page-heading">
	<ol class="breadcrumb">
		<li><%=link_to "Dimension",rcadmin_dimensions_path%></li>
		<li class="active">Edit Dimension</li>
	</ol>

	<h1>Edit Dimension</h1>
</div>
<%= render 'form' %>

<%#= link_to 'Show', @rcadmin_dimension %> |
<%#= link_to 'Back', rcadmin_dimensions_path %>
