<nav id="page-leftbar" role="navigation">
		<!-- BEGIN SIDEBAR MENU -->
	<ul class="acc-menu" id="sidebar">
		<li id="search">
			<a href="javascript:;"><i class="fa fa-search opacity-control"></i></a>
			 <form>
				<input type="text" class="search-query" placeholder="Search...">
				<button type="submit"><i class="fa fa-search"></i></button>
			</form>
		</li>
		<li class="divider"></li>
		<li><a href="/rcadmin/dashboard"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
		<!--li><a href="javascript:;"><i class="fa fa-th"></i> <span>Layout Options</span> </a>
			<ul class="acc-menu">
				<li><a href="layout-grid.htm"><span>Grids</span></a>
				<li><a href="layout-horizontal.htm"><span>Horizontal Navigation</span></a>
				<li><a href="layout-horizontal2.htm"><span>Horizontal Navigation 2</span></a>
				<li><a href="layout-fixed.htm"><span>Fixed Boxed Layout</span></a>
			</ul>
		</li-->
		<!--li><a href="javascript:;"><i class="fa fa-list-ol"></i> <span>UI Elements</span> <span class="badge badge-indigo">4</span></a>
			<ul class='acc-menu'>
				<li><a href="ui-typography.htm">Typography</a></li>
				<li><a href="ui-buttons.htm">Buttons</a></li>
				<li><a href="tables-basic.htm">Tables</a></li>
				<li><a href="form-layout.htm">Forms</a></li>
				<li><a href="ui-panels.htm">Panels</a></li>
				<li><a href="ui-images.htm">Images</a></li>
			</ul>
		</li-->
		<!--li><a href="javascript:;"><i class="fa fa-tasks"></i> <span>UI Components</span> <span class="badge badge-info">12</span></a>
			<ul class="acc-menu">
				<li><a href="ui-tiles.htm">Tiles</a></li>
				<li><a href="ui-modals.htm">Modal Boxes</a></li>
				<li><a href="ui-progressbars.htm">Progress Bars</a></li>
				<li><a href="ui-paginations.htm">Pagers &amp; Paginations</a></li>
				<li><a href="ui-breadcrumbs.htm">Breadcrumbs</a></li>
				<li><a href="ui-labelsbadges.htm">Labels &amp; Badges</a></li>
				<li><a href="ui-alerts.htm">Alerts &amp; Notificiations</a></li>
				<li><a href="ui-sliders.htm">Sliders &amp; Ranges</a></li>
				<li><a href="ui-tabs.htm">Tabs &amp; Accordions</a></li>
				<li><a href="ui-carousel.htm">Carousel</a></li>
				<li><a href="ui-nestable.htm">Nestable Lists</a></li>
				<li><a href="ui-wells.htm">Wells</a></li>
			</ul>
		</li-->
		<!--li><a href="javascript:;"><i class="fa fa-table"></i> <span>Advanced Tables</span></a>
			<ul class="acc-menu">
				<li><a href="tables-data.htm">Data Tables</a></li>
				<li><a href="tables-responsive.htm">Responsive Tables</a></li>
				<li><a href="tables-editable.htm">Editable Tables</a></li-->
				<!-- <li><a href="#">Samples</a></li> Coming soon -->
			<!--/ul>
		</li-->
		<!--li><a href="javascript:;"><i class="fa fa-pencil"></i> <span>Advanced Forms</span><span class="badge badge-primary">5</span></a>
			<ul class="acc-menu">
				<li><a href="form-components.htm">Components</a></li>
				<li><a href="form-wizard.htm">Wizards</a></li>
				<li><a href="form-validation.htm">Validation</a></li>
				<li><a href="form-masks.htm">Masks</a></li>
				<li><a href="form-fileupload.htm">Multiple File Uploads</a></li>
				<li><a href="form-dropzone.htm">Dropzone File Uploads</a></li-->
				<!-- <li><a href="#">Samples</a></li> Coming soon -->
			<!--/ul>
		</li-->
		<!--li><a href="javascript:;"><i class="fa fa-map-marker"></i> <span>Maps</span></a>
			<ul class="acc-menu">
				<li><a href="maps-google.htm">Google Maps</a></li>
				<li><a href="maps-vector.htm">Vector Maps</a></li>
			</ul>
		</li-->
		<!--li><a href="javascript:;"><i class="fa fa-bar-chart-o"></i> <span>Charts</span></a>
			<ul class="acc-menu">
				<li><a href="charts-flot.htm">Extensible</a></li>
				<li><a href="charts-svg.htm">Interactive</a></li>
				<li><a href="charts-canvas.htm">Lightweight</a></li>
				<li><a href="charts-inline.htm">Inline</a></li>
			</ul>
		</li-->
		<!--li><a href="calendar.htm"><i class="fa fa-calendar"></i> <span>Calendar</span></a></li>
		<li><a href="gallery.htm"><i class="fa fa-camera"></i> <span> Gallery</span> </a></li>
		<li><a href="javascript:;"><i class="fa fa-flag"></i> <span>Icons</span> <span class="badge badge-orange">2</span></a>
			<ul class="acc-menu">
				<li><a href="icons-fontawesome.htm">Font Awesome</a></li>
				<li><a href="icons-glyphicons.htm">Glyphicons</a></li>
			</ul>
		</li-->
		<!--li class="divider"></li>
		<li><a href="javascript:;"><i class="fa fa-briefcase"></i> <span>Extras</span> <span class="badge badge-danger">1</span></a>
			<ul class="acc-menu">
				<li><a href="extras-timeline.htm">Timeline</a></li>
				<li><a href="extras-profile.htm">Profile</a></li>
				<li><a href="extras-inbox.htm">Inbox</a></li>
				<li><a href="extras-search.htm">Search Page</a></li>
				<li><a href="extras-registration.htm">Registration</a></li>
				<li><a href="extras-invoice.htm">Invoice</a></li>
				<li><a href="extras-signupform.htm">Sign Up</a></li>
				<li><a href="extras-404.htm">404 Page</a></li>
				<li><a href="extras-500.htm">500 Page</a></li>
				<li><a href="extras-login.htm">Login 1</a></li>
				<li><a href="extras-login2.htm">Login 2</a></li>
				<li><a href="extras-forgotpassword.htm">Password Reset</a></li>
				<li><a href="extras-blank.htm">Blank Page</a></li>
			</ul>
		</li-->
		<li><a href="javascript:;"><i class="fa fa-user"></i> <span>Administrator</span></a>
			<ul class="acc-menu">
				<li><%=link_to "Administrator",rcadmin_administrators_path%></li>
				<li><%=link_to "Login Logs",rcadmin_login_logs_path%>
					<!--ul class="acc-menu">
						<li><a href="javascript:;">Menu Item 2.1</a></li>
						<li><a href="javascript:;">Menu Item 2.2</a>
							<ul class="acc-menu">
								<li><a href="javascript:;">Menu Item 2.2.1</a></li>
								<li><a href="javascript:;">Menu Item 2.2.2</a>
									<ul class="acc-menu">
										<li><a href="javascript:;">And deeper yet!</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul-->
				</li>
			</ul>
		</li>

		<li><a href="javascript:;"><i class="fa fa-sitemap"></i> <span>Category</span></a>
			<ul class="acc-menu">
				<li><%=link_to "Category",rcadmin_categories_path%></li>
				<!--li><%=link_to "Login Logs",rcadmin_login_logs_path%>
				</li-->
			</ul>
		</li>


	</ul>
	<!-- END SIDEBAR MENU -->
</nav>
